<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}/static/style.css"{% endblock %}" />
</head>
<body>
<div id='toolbarContainer'>
<div id='toolbar'>
<div class='toolbarElement'><a href='/polls/'>Home</a></div>
<div class='toolbarElement'><a href='/login/'>Login</a></div>
</div>
</div>
{% block body %}
<div id="content">
{% block content %}

{% endblock %}
</div>
{% endblock %}
</body>
</html>
