{% extends "polls/base.html" %}

{% block content %}
<a href='/polls/'>&lt;&lt;Back</a>
<h1>{{ poll.question }}</h1>

{% if error_message %}<div class="error">{{ error_message }}</div>{% endif %}
<form action="/polls/{{ poll.id }}/vote/" method="post">
{% csrf_token %}
{% for choice in poll.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}
<input type="submit" value="Vote" />
</form>
{% endblock %}
