{% extends "polls/base.html" %}

{% block content %}
<h1>{{ poll.question }}</h1>

<ul>
{% for choice in poll.choice_set.all %}
    <li> {{ choice.choice_text }} -- {{ choice.votes }}</li>
{% endfor %}
</ul>

<a href="/polls/{{ poll.id }}/">Vote again?</a>
{% endblock %}
