body {
	margin:25px 0px; padding:0px;
	text-align:center;
}
#content {
     width:800px;
     margin:80px auto;
     text-align:left;
     padding:15px;
     border:1px dashed #333;
     background-color:#eee;
}
div.error {
    padding: 5px;
    background: lightGoldenrodYellow;
    border: dotted red 1px;
    margin: 10px;
}
#toolbarContainer {
    background: lightblue;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 60px;
}
#toolbar {
    width: 800px;
    margin: 0px auto;
}
.toolbarElement {
    float: right;
    padding: 20px;
    display: inline;
}
.toolbarElement a {
    display: inline;
    text-decoration: none;
    color: black;
}
